{% extends 'base.html.twig' %}

{% block body %}
<section class="hero is-fullheight actu">

    <div class="logo">
        <img src="img-content/logo.svg" alt="logo" id="logo">
        <div class="btns is-hidden-mobile">
            <div class=" button_media_home my-center modaluncher">Support us</div>
        </div>
    </div>

    <div class="logo"><img src="img-content/logo.svg" alt="logo"></div>

    <!-- MODAL -->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="columns">
                <div class="column">
                    <div class="img_card" id="col_1">
                    </div>
                    <div class="button is-medium button_media"><a href="">SHARE</a></div>
                </div>
                <div class="column">
                    <div class="img_card" id="col_2">

                    </div>
                    <div class="button is-medium button_media"><a href="">DONATE</a></div>
                </div>
                <div class="column">
                    <div class="img_card" id="col_3">

                    </div>
                    <div class="button is-medium button_media"><a href="">JOIN</a></div>
                </div>

            </div>
        </div>
        <button class="modal-close"></button>
    </div>


    <div class="hero-body">

        <section class="section">
            <div class="filariane hero-head">
                <a href="{{ url('intro_index') }}">Home</a>
                >
                <a href="{{ url('index_actualites') }}" class="arian_active">Actualitées</a>
            </div>

            <div class="actu_container">
                {% for article in post %}
                <div class="card">
                    <div class="card-image">
                        <a href="{{ url('index_show', {'id' : article.id }) }}" class="read_more_actu">
                            <figure class="image is-4by3">
                                <img src="uploads/images/article/{{ article.image  }}" alt="{{ article.descriptionImage }}" title="{{ article.descriptionImage }}" />
                            </figure>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p class="cardtitle">{{ article.titre }}</p>
                            <br>
                        </div>
                        <div class="more_acrticle ">
                            <small>{{ article.createdAt|date('H:i d-M-Y') }}</small><small class="is-pulled-right"><a href="{{ url('index_show', {'id' : article.id }) }}" class="read_more_actu">Read more</a></small>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </div>

    <p class="reserved">© 2017 YALLA! - All rights reserved</p>
</section>

    {% block javascripts %}
        <script>
            // ========= Modal Home ======= //

            var ModalLunch = document.querySelector('.modaluncher');
            var ModalClose = document.querySelector('.modal-close');
            var modal = document.querySelector('.modal');

            ModalLunch.addEventListener('click', function () {
                modal.classList.add('is-active')
            });
            ModalClose.addEventListener('click', function () {
                modal.classList.remove('is-active')
            });


            // ========= SCROLL ======= //

            var count = 0;

            var temps = 1;

            var myVar = setInterval(myTimer, 500);

            function myTimer() {
                temps = temps + 1;
            }


            var SectionNb = document.querySelectorAll('.card');


            document.addEventListener('mousewheel', function (event) {
                if (temps >= 1){

                    var scroll = Math.round(event.deltaY);
                    if (scroll > 1){
                        scrollTO(count + 1);
                    }
                    if(scroll < -1) {
                        scrollTO(count - 1);
                    }
                }});


            var scrollTO = function (to) {
                count = to;
                console.log(count);
                if (count === SectionNb.length - 4){count = SectionNb.length -5 }
                if (count === -1){count = 0}
                console.log(count);
                for (var i = 0; i<SectionNb.length ; i++){
                    if (count === i){
                        for (var j = 0; j<SectionNb.length ;j++) {
                            SectionNb[j].style = 'transform: translateX(-' + i * 100 + '%);';
                        }
                    }
                }

            };

        </script>
    {% endblock %}
{% endblock %}