{% extends 'base.html.twig' %}

{% block body  %}
   <div class="scroll_container">

      <div class="logo"><img src="{{ asset('img-content/logo.svg') }}" alt="logo"></div>

      <section class="hero is-fullheight is-scrolable">
         <div class="hero-body">
            <p class="has-text-left cke_accessibility_legend" >
                {{ intro['0'].contenu|raw }}
            </p>
         </div>
      </section>
      <section class="hero is-fullheight is-scrolable">
         <div class="hero-body">
            <p class="has-text-left is-pulled-right">
                {{ intro['1'].contenu|raw }}
            </p>
         </div>
      </section>
      <section class="hero is-fullheight is-scrolable">
         <div class="hero-body">
            <p class="has-text-left" style="padding-left: 27%;">
                {{ intro['2'].contenu|raw }}
            </p>
         </div>
      </section>
      <section class="hero is-fullheight is-scrolable">
         <div class="hero-body">
            <p class="has-text-left" style="padding-left: 23%;">
                {{ intro['3'].contenu|raw }}
            </p>
         </div>
      </section>
      <section class="hero is-fullheight is-scrolable">
         <div class="hero-body">
            <p class="has-text-left" style="padding-left: 10%;">
              {{ intro['4'].contenu|raw }}
            </p>
         </div>
      </section>
      <section class="hero is-fullheight is-scrolable">
         <div class="hero-body">
            <div class="columns">
               <div class="column">
                  <div class="img_card" id="col_1">
                  </div>
                  <div class="button is-medium button_media"><a href="">PARTAGER</a></div>
               </div>
               <div class="column">
                  <div class="img_card" id="col_2">

                  </div>
                  <div class="button is-medium button_media"><a href="">DONNER</a></div>
               </div>
               <div class="column">
                  <div class="img_card" id="col_3">

                  </div>
                  <div class="button is-medium button_media"><a href="">REJOINDRE</a></div>
               </div>

            </div>
         </div>
      </section>
      <div class="dots_container">
         <div class="dot is-visible"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="button is-small has-text-centered is1">Passer l'Intro</div>
         <div class="button is-small has-text-centered isnot">Accès au site</div>
      </div>

   </div>

   <section class="hero is-fullheight home">

      <div class="logo">
         <img src="{{ asset('img-content/logo.svg') }}" alt="logo" id="logo">
         <div class="btns is-hidden-mobile">
            <a href="#"><button>Partager</button></a>
            <a href="#"><button>Donner</button></a>
            <a href="#"><button>Rejoindre</button></a>
         </div>
      </div>
      <nav class="is-6">
         <ul>
            <li><a href="#logo" class="nav_active">Accueil</a></li>
            <div class="bar"></div>
            <li><a href="#">Projets</a></li>
            <div class="bar"></div>
            <li><a href="#">A propos</a></li>
            <div class="bar"></div>
            <li><a href="#">Contact</a></li>
         </ul>
      </nav>

      <div class="logo"><img src="{{ asset('img-content/logo.svg') }}" alt="logo"></div>
      <div class="calendar"><img src="{{ asset('img-content/calendar.svg') }}" alt="Calendrier"></div>
      <div class="user"><a href="/login"><img src="{{ asset('img-content/user.svg') }}" alt="login"></a></div>


      <!--Calendrier -->

      <div class="calendrier is-parent">
         <article class="tile is-child box" style="height: 100vh; overflow: auto;padding: 9px;">
            <h2 class="title has-text-centered">Derniers événements<a class="delete is-medium is-pulled-right"></a></h2>
            <figure class="highlight" style="max-height: 86vh; overflow: auto; max-width: 100%;">

               {% for article in post %}
                  <div class="box">
                     <a href="{{ url('index_show', {'id' : article.id }) }}">
                     <article class="media">
                        <div class="media-left">
                           <figure class="image is-64x64" style="max-width: 155px; max-height: 104px">
                              <img src="uploads/images/article/{{ article.image  }}" alt="{{ article.descriptionImage }}" title="{{ article.descriptionImage }}" />
                           </figure>
                        </div>
                        <div class="media-content">
                           <div class="content">
                              <p>
                                 {{ article.titre|raw }}
                              </p>
                              <small>{{ article.createdAt|date('H:i d-M-Y') }}</small>
                           </div>
                        </div>
                     </article>
                     </a>
                  </div>

               {% endfor %}


            </figure>
            <a href="{{ url('index_actualites') }}" class="button my-center">Voir plus</a>
         </article>
      </div>

      <!-- MODAL -->
      <div class="modal">
         <div class="modal-background"></div>
         <div class="modal-content">
            <div class="columns">
               <div class="column">
                  <div class="img_card" id="col_1">
                  </div>
                  <div class="button is-medium button_media"><a href="">PARTAGER</a></div>
               </div>
               <div class="column">
                  <div class="img_card" id="col_2">

                  </div>
                  <div class="button is-medium button_media"><a href="">DONNER</a></div>
               </div>
               <div class="column">
                  <div class="img_card" id="col_3">

                  </div>
                  <div class="button is-medium button_media"><a href="">REJOIDNRE</a></div>
               </div>

            </div>
         </div>
         <button class="modal-close"></button>
      </div>

      <div class="hero-body scroll-home">


      <div class="nav-home">
         <p><span>Yalla!</span> est un organisme indépendent, apolitique.<br> Association non confessionnelle et impartiale du droit français, créer en <strong>Juillet 2013.</strong> <br>

            Basé au <strong>Liban</strong>, <strong><em>Yalla!</em></strong> a comme mission principale de faire sortir les enfants déscolarisés du conflit Syrien pour qu'ils retrouvent <em>l'envie d'aller à l'école</em>
         </p>
      </div>

       {% for projects in project %}

      <div class="nav-project">
         <!--<div>-->
         <h2><strong>{{ projects.annee|raw  }}</strong></h2>
         <h3>{{ projects.titre|raw  }}</h3>
         <figure>
            <p><img src="img-content/pin.svg" alt="pin">{{ projects.localisation|raw  }}</p>
         </figure>
         <div>
            <p class="has-text-left">
               {{ projects.contenu|raw  }}
            </p>
         </div>
         <!--</div>-->

         {% endfor %}
      </div>

      </div>
      <p class="reserved">© 2017 YALLA! - All rights reserved</p>
   </section>

{% endblock %}

